.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 150px);
    gap: 10px;
}

.item {
    /* I mean, the div is centered, but the content inside is not */
    justify-self: center;
    align-self: center;
}

.picture img {
    width: 150px;
}

.item.picture {
    grid-column-start: 3;
}

.item.left {
    grid-column: 1 / span 2;
}

.item.right {
    grid-column: 4 / span 2;
}

.item.first {
    grid-row: 1;
}

.item.second {
    grid-row: 2;
}

.item.third {
    grid-row: 3;
}